{% extends "connectedTemplate.html" %}

{% block main %}
<div class="container mt-5">
    <!-- Hero Section -->
    <div class="text-center mb-4">
        <h1>Bienvenu sur MoocAI</h1>
        <p class="lead">L'application de navigation des forums fun Mooc</p>
    </div>

    <!-- Presentation Section -->
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Explorer les messages</h5>
                    <p class="card-text">Notre service d'IA trouve les messages les plus similaire à votre demande</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Analyse de Sentiment</h5>
                    <p class="card-text">Chaque message est analysé pour en extraire son sentiment global ce qui nous permets de faire de plus ample analyse</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Embedding de sens</h5>
                    <p class="card-text">De plus le sens de chaque message est conserver pour analyse</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href="/filtrer_message" class="btn btn-primary">Start Moocing Now</a>
    </div>
</div>
{% endblock %}